<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.niule.znxj.web.dao.CheckiteminfoMapper">
  <resultMap id="BaseResultMap" type="com.niule.znxj.web.model.Checkiteminfo">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="customid" jdbcType="VARCHAR" property="customid" />
    <result column="itemname" jdbcType="VARCHAR" property="itemname" />
    <result column="keyword" jdbcType="VARCHAR" property="keyword" />
    <result column="type" jdbcType="INTEGER" property="type" />
    <result column="normalmin" jdbcType="DOUBLE" property="normalmin" />
    <result column="normalmax" jdbcType="DOUBLE" property="normalmax" />
    <result column="upperwarning" jdbcType="DOUBLE" property="upperwarning" />
    <result column="lowerwarning" jdbcType="DOUBLE" property="lowerwarning" />
    <result column="recordid" jdbcType="BIGINT" property="recordid" />
    <result column="siteareaid" jdbcType="BIGINT" property="siteareaid" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, customid, itemname, keyword, type, normalmin, normalmax, upperwarning, lowerwarning, 
    recordid, siteareaid
  </sql>
  <select id="selectByExample" parameterType="com.niule.znxj.web.model.CheckiteminfoExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from checkiteminfo
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from checkiteminfo
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from checkiteminfo
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.niule.znxj.web.model.CheckiteminfoExample">
    delete from checkiteminfo
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.niule.znxj.web.model.Checkiteminfo">
    insert into checkiteminfo (id, customid, itemname, 
      keyword, type, normalmin, 
      normalmax, upperwarning, lowerwarning, 
      recordid, siteareaid)
    values (#{id,jdbcType=BIGINT}, #{customid,jdbcType=VARCHAR}, #{itemname,jdbcType=VARCHAR}, 
      #{keyword,jdbcType=VARCHAR}, #{type,jdbcType=INTEGER}, #{normalmin,jdbcType=DOUBLE}, 
      #{normalmax,jdbcType=DOUBLE}, #{upperwarning,jdbcType=DOUBLE}, #{lowerwarning,jdbcType=DOUBLE}, 
      #{recordid,jdbcType=BIGINT}, #{siteareaid,jdbcType=BIGINT})
  </insert>
  <insert id="insertSelective" parameterType="com.niule.znxj.web.model.Checkiteminfo">
    insert into checkiteminfo
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="customid != null">
        customid,
      </if>
      <if test="itemname != null">
        itemname,
      </if>
      <if test="keyword != null">
        keyword,
      </if>
      <if test="type != null">
        type,
      </if>
      <if test="normalmin != null">
        normalmin,
      </if>
      <if test="normalmax != null">
        normalmax,
      </if>
      <if test="upperwarning != null">
        upperwarning,
      </if>
      <if test="lowerwarning != null">
        lowerwarning,
      </if>
      <if test="recordid != null">
        recordid,
      </if>
      <if test="siteareaid != null">
        siteareaid,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="customid != null">
        #{customid,jdbcType=VARCHAR},
      </if>
      <if test="itemname != null">
        #{itemname,jdbcType=VARCHAR},
      </if>
      <if test="keyword != null">
        #{keyword,jdbcType=VARCHAR},
      </if>
      <if test="type != null">
        #{type,jdbcType=INTEGER},
      </if>
      <if test="normalmin != null">
        #{normalmin,jdbcType=DOUBLE},
      </if>
      <if test="normalmax != null">
        #{normalmax,jdbcType=DOUBLE},
      </if>
      <if test="upperwarning != null">
        #{upperwarning,jdbcType=DOUBLE},
      </if>
      <if test="lowerwarning != null">
        #{lowerwarning,jdbcType=DOUBLE},
      </if>
      <if test="recordid != null">
        #{recordid,jdbcType=BIGINT},
      </if>
      <if test="siteareaid != null">
        #{siteareaid,jdbcType=BIGINT},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.niule.znxj.web.model.CheckiteminfoExample" resultType="java.lang.Integer">
    select count(*) from checkiteminfo
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update checkiteminfo
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=BIGINT},
      </if>
      <if test="record.customid != null">
        customid = #{record.customid,jdbcType=VARCHAR},
      </if>
      <if test="record.itemname != null">
        itemname = #{record.itemname,jdbcType=VARCHAR},
      </if>
      <if test="record.keyword != null">
        keyword = #{record.keyword,jdbcType=VARCHAR},
      </if>
      <if test="record.type != null">
        type = #{record.type,jdbcType=INTEGER},
      </if>
      <if test="record.normalmin != null">
        normalmin = #{record.normalmin,jdbcType=DOUBLE},
      </if>
      <if test="record.normalmax != null">
        normalmax = #{record.normalmax,jdbcType=DOUBLE},
      </if>
      <if test="record.upperwarning != null">
        upperwarning = #{record.upperwarning,jdbcType=DOUBLE},
      </if>
      <if test="record.lowerwarning != null">
        lowerwarning = #{record.lowerwarning,jdbcType=DOUBLE},
      </if>
      <if test="record.recordid != null">
        recordid = #{record.recordid,jdbcType=BIGINT},
      </if>
      <if test="record.siteareaid != null">
        siteareaid = #{record.siteareaid,jdbcType=BIGINT},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update checkiteminfo
    set id = #{record.id,jdbcType=BIGINT},
      customid = #{record.customid,jdbcType=VARCHAR},
      itemname = #{record.itemname,jdbcType=VARCHAR},
      keyword = #{record.keyword,jdbcType=VARCHAR},
      type = #{record.type,jdbcType=INTEGER},
      normalmin = #{record.normalmin,jdbcType=DOUBLE},
      normalmax = #{record.normalmax,jdbcType=DOUBLE},
      upperwarning = #{record.upperwarning,jdbcType=DOUBLE},
      lowerwarning = #{record.lowerwarning,jdbcType=DOUBLE},
      recordid = #{record.recordid,jdbcType=BIGINT},
      siteareaid = #{record.siteareaid,jdbcType=BIGINT}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.niule.znxj.web.model.Checkiteminfo">
    update checkiteminfo
    <set>
      <if test="customid != null">
        customid = #{customid,jdbcType=VARCHAR},
      </if>
      <if test="itemname != null">
        itemname = #{itemname,jdbcType=VARCHAR},
      </if>
      <if test="keyword != null">
        keyword = #{keyword,jdbcType=VARCHAR},
      </if>
      <if test="type != null">
        type = #{type,jdbcType=INTEGER},
      </if>
      <if test="normalmin != null">
        normalmin = #{normalmin,jdbcType=DOUBLE},
      </if>
      <if test="normalmax != null">
        normalmax = #{normalmax,jdbcType=DOUBLE},
      </if>
      <if test="upperwarning != null">
        upperwarning = #{upperwarning,jdbcType=DOUBLE},
      </if>
      <if test="lowerwarning != null">
        lowerwarning = #{lowerwarning,jdbcType=DOUBLE},
      </if>
      <if test="recordid != null">
        recordid = #{recordid,jdbcType=BIGINT},
      </if>
      <if test="siteareaid != null">
        siteareaid = #{siteareaid,jdbcType=BIGINT},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.niule.znxj.web.model.Checkiteminfo">
    update checkiteminfo
    set customid = #{customid,jdbcType=VARCHAR},
      itemname = #{itemname,jdbcType=VARCHAR},
      keyword = #{keyword,jdbcType=VARCHAR},
      type = #{type,jdbcType=INTEGER},
      normalmin = #{normalmin,jdbcType=DOUBLE},
      normalmax = #{normalmax,jdbcType=DOUBLE},
      upperwarning = #{upperwarning,jdbcType=DOUBLE},
      lowerwarning = #{lowerwarning,jdbcType=DOUBLE},
      recordid = #{recordid,jdbcType=BIGINT},
      siteareaid = #{siteareaid,jdbcType=BIGINT}
    where id = #{id,jdbcType=BIGINT}
  </update>

  <select id="findByPageCheck" parameterType="int" resultMap="BaseResultMap">
    select
    c.id,c.customid,c.itemname,c.keyword,c.recordid,c.type,d.name,d.state,d.unitname
    from checkiteminfo c
    left join daterecordinfo d
    on d.id=c.recordid
    order by c.id desc
    limit #{0},#{1}
  </select>
  <select id="countCheck" resultType="int">
    select count(id) from checkiteminfo
  </select>
  <select id="findByPageCheck2" parameterType="map" resultMap="BaseResultMap">
    select
    c.id,c.customid,c.itemname,c.keyword,c.recordid,c.type,d.name,d.state,d.unitname
    from checkiteminfo c
    left join daterecordinfo d
    on d.id=c.recordid
    <if test="itemname!=''">
      and itemname like #{itemname}
    </if>
    order by c.id desc
    limit #{page},#{pagesize}
  </select>
  <select id="countCheck2" resultType="int">
    select count(id) from checkiteminfo where 1=1
    <if test="itemname!=''">
      and itemname like #{name}
    </if>
  </select>
  <select id="queryByRecord" parameterType="int" resultMap="BaseResultMap">
    select c.*,d.name,d.unitname from checkiteminfo c left join daterecordinfo d on c.recordid=d.id where d.id=#{0}
  </select>

  <select id="getcheckinfo" parameterType="map" resultMap="BaseResultMap">
    select * from checkiteminfo where id in
    <foreach close=")" collection="checkids" item="checkid" open="(" separator=",">
      #{checkid}
    </foreach>
  </select>

</mapper>