<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.niule.znxj.web.dao.DaterecordinfoMapper" >
  <resultMap id="BaseResultMap" type="com.niule.znxj.web.model.Daterecordinfo" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="unitname" property="unitname" jdbcType="VARCHAR" />
    <result column="defaultvalue" property="defaultvalue" jdbcType="VARCHAR" />
    <result column="recordType" property="recordtype" jdbcType="INTEGER" />
    <result column="state" property="state" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, name, unitname, defaultvalue, recordType, state
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.niule.znxj.web.model.DaterecordinfoExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from daterecordinfo
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from daterecordinfo
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from daterecordinfo
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.niule.znxj.web.model.DaterecordinfoExample" >
    delete from daterecordinfo
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.niule.znxj.web.model.Daterecordinfo" >
    insert into daterecordinfo (id, name, unitname, 
      defaultvalue, recordType, state
      )
    values (#{id,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, #{unitname,jdbcType=VARCHAR}, 
      #{defaultvalue,jdbcType=VARCHAR}, #{recordtype,jdbcType=INTEGER}, #{state,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.niule.znxj.web.model.Daterecordinfo" >
    insert into daterecordinfo
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="name != null" >
        name,
      </if>
      <if test="unitname != null" >
        unitname,
      </if>
      <if test="defaultvalue != null" >
        defaultvalue,
      </if>
      <if test="recordtype != null" >
        recordType,
      </if>
      <if test="state != null" >
        state,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="unitname != null" >
        #{unitname,jdbcType=VARCHAR},
      </if>
      <if test="defaultvalue != null" >
        #{defaultvalue,jdbcType=VARCHAR},
      </if>
      <if test="recordtype != null" >
        #{recordtype,jdbcType=INTEGER},
      </if>
      <if test="state != null" >
        #{state,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.niule.znxj.web.model.DaterecordinfoExample" resultType="java.lang.Integer" >
    select count(*) from daterecordinfo
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update daterecordinfo
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.name != null" >
        name = #{record.name,jdbcType=VARCHAR},
      </if>
      <if test="record.unitname != null" >
        unitname = #{record.unitname,jdbcType=VARCHAR},
      </if>
      <if test="record.defaultvalue != null" >
        defaultvalue = #{record.defaultvalue,jdbcType=VARCHAR},
      </if>
      <if test="record.recordtype != null" >
        recordType = #{record.recordtype,jdbcType=INTEGER},
      </if>
      <if test="record.state != null" >
        state = #{record.state,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update daterecordinfo
    set id = #{record.id,jdbcType=INTEGER},
      name = #{record.name,jdbcType=VARCHAR},
      unitname = #{record.unitname,jdbcType=VARCHAR},
      defaultvalue = #{record.defaultvalue,jdbcType=VARCHAR},
      recordType = #{record.recordtype,jdbcType=INTEGER},
      state = #{record.state,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.niule.znxj.web.model.Daterecordinfo" >
    update daterecordinfo
    <set >
      <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="unitname != null" >
        unitname = #{unitname,jdbcType=VARCHAR},
      </if>
      <if test="defaultvalue != null" >
        defaultvalue = #{defaultvalue,jdbcType=VARCHAR},
      </if>
      <if test="recordtype != null" >
        recordType = #{recordtype,jdbcType=INTEGER},
      </if>
      <if test="state != null" >
        state = #{state,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.niule.znxj.web.model.Daterecordinfo" >
    update daterecordinfo
    set name = #{name,jdbcType=VARCHAR},
      unitname = #{unitname,jdbcType=VARCHAR},
      defaultvalue = #{defaultvalue,jdbcType=VARCHAR},
      recordType = #{recordtype,jdbcType=INTEGER},
      state = #{state,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="findByPageData" resultMap="BaseResultMap" parameterType="int">
    select
    <include refid="Base_Column_List" />
    from daterecordinfo where 1=1 order by id desc limit #{0},#{1}
  </select>
  <select id="countData" resultType="int">
    select count(id) from daterecordinfo
  </select>
  <select id="findByPageData2" resultMap="BaseResultMap" parameterType="int">
    select
    <include refid="Base_Column_List" />
    from daterecordinfo where 1=1
    <if test="name!=null">
      and name like #{name}
    </if>
    order by id desc
    limit #{page},#{pagesize}
  </select>
  <select id="countData2" resultType="int">
    select count(id) from daterecordinfo where 1=1
    <if test="name!=null">
      and name like #{name}
    </if>
  </select>
</mapper>