<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.niule.znxj.web.dao.RolesandpromissMapper" >
  <resultMap id="BaseResultMap" type="com.niule.znxj.web.model.Rolesandpromiss" >
    <id column="roleandpowerid" property="roleandpowerid" jdbcType="INTEGER" />
    <result column="roleid" property="roleid" jdbcType="INTEGER" />
    <result column="promissid" property="promissid" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    roleandpowerid, roleid, promissid
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.niule.znxj.web.model.RolesandpromissExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from rolesandpromiss
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from rolesandpromiss
    where roleandpowerid = #{roleandpowerid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from rolesandpromiss
    where roleandpowerid = #{roleandpowerid,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.niule.znxj.web.model.RolesandpromissExample" >
    delete from rolesandpromiss
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.niule.znxj.web.model.Rolesandpromiss" >
    insert into rolesandpromiss (roleandpowerid, roleid, promissid
      )
    values (#{roleandpowerid,jdbcType=INTEGER}, #{roleid,jdbcType=INTEGER}, #{promissid,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.niule.znxj.web.model.Rolesandpromiss" >
    insert into rolesandpromiss
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="roleandpowerid != null" >
        roleandpowerid,
      </if>
      <if test="roleid != null" >
        roleid,
      </if>
      <if test="promissid != null" >
        promissid,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="roleandpowerid != null" >
        #{roleandpowerid,jdbcType=INTEGER},
      </if>
      <if test="roleid != null" >
        #{roleid,jdbcType=INTEGER},
      </if>
      <if test="promissid != null" >
        #{promissid,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.niule.znxj.web.model.RolesandpromissExample" resultType="java.lang.Integer" >
    select count(*) from rolesandpromiss
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update rolesandpromiss
    <set >
      <if test="record.roleandpowerid != null" >
        roleandpowerid = #{record.roleandpowerid,jdbcType=INTEGER},
      </if>
      <if test="record.roleid != null" >
        roleid = #{record.roleid,jdbcType=INTEGER},
      </if>
      <if test="record.promissid != null" >
        promissid = #{record.promissid,jdbcType=INTEGER},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update rolesandpromiss
    set roleandpowerid = #{record.roleandpowerid,jdbcType=INTEGER},
      roleid = #{record.roleid,jdbcType=INTEGER},
      promissid = #{record.promissid,jdbcType=INTEGER}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.niule.znxj.web.model.Rolesandpromiss" >
    update rolesandpromiss
    <set >
      <if test="roleid != null" >
        roleid = #{roleid,jdbcType=INTEGER},
      </if>
      <if test="promissid != null" >
        promissid = #{promissid,jdbcType=INTEGER},
      </if>
    </set>
    where roleandpowerid = #{roleandpowerid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.niule.znxj.web.model.Rolesandpromiss" >
    update rolesandpromiss
    set roleid = #{roleid,jdbcType=INTEGER},
      promissid = #{promissid,jdbcType=INTEGER}
    where roleandpowerid = #{roleandpowerid,jdbcType=INTEGER}
  </update>
</mapper>